.Button {
  background-color: var(--color-primary);
  border: none;
  padding: 12px 45px;
  font-size: 23px;
  font-family: inherit;
  font-weight: 700;
  color: var(--color-white);
  border-radius: 10px;
  cursor: pointer;
}

.Button--rounded {
  border-radius: 40px;
}