.Button {
  background-color: var(--color-primary);
  border: none;
  padding: 12px 45px;
  font-size: 23px;
  font-family: inherit;
  font-weight: 700;
  color: var(--color-white);
  border-radius: 10px;
  cursor: pointer;

  &--small {
    padding: 8px 25px;
    font-size: 15px;
  }

  &--left {
    @media screen and (min-width: 1440px) {
      align-self: flex-start;
      justify-self: flex-start;
    }
  }

  &:focus {
    border: none;
  }
}

.Button--rounded {
  border-radius: 40px;
}