.Title {
  font-size: 43px;
  margin: 50px 10px 25px;
  font-weight: 700;
  text-align: center;
  color: var(--color-secondary-darker);

  @media screen and (min-width: 1440px) {
    font-size: 67px;
    text-align: left;
  }
}