body {
  background-color: var(--color-gray-light);

  * {
    outline: none;
  }
}

.heading {
  background-color: white;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}