:root {
  // typography
  --font-family: 'Poppins', sans-serif;
  --font-size: 18px;

  // colors
  --color-primary: hsl(180, 66%, 49%);

  --color-secondary: hsl(258, 27%, 26%);
  --color-secondary-light: hsl(257, 7%, 63%);
  --color-secondary-dark: hsl(255, 11%, 22%);
  --color-secondary-darker: hsl(260, 8%, 14%);

  --color-warning: hsl(0, 87%, 67%);
  --color-gray: hsl(0, 0%, 75%);
}