.Text {
  color: var(--color-secondary-light);
  letter-spacing: 1px;
  text-align: center;
  line-height: 28px;
  margin: 0 12px 35px;

  &--smaller {
    font-size: 15px;
    margin: 0 40px 45px;
    letter-spacing: 0;
  }
}