.Input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  padding-left: 20px;
  color: var(--color-secondary-darker);
  line-height: 28px;
  font-weight: 700;
  font-size: 18px;
  box-sizing: border-box;

  @media screen and (min-width: 1440px) {
    margin: 0 15px 0 25px;
    max-height: 60px;
  }

  &::placeholder {
    color: var(--color-secondary-light);
  }
}