.Steps {
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    & > *:not(:first-child) {
      margin-left: 30px;
    }

    & > *:nth-child(2) {
      margin-top: 85px;
    }

    & > *:nth-child(3) {
      margin-top: 125px;
    }

    & > *:nth-child(2) .Card__line {
      display: none;
    }
  }
}