.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22.5px;
  margin-bottom: 20px;
}

.Navbar__burger {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 35px;
  height: 26px;
  cursor: pointer;
}

.Navbar__burger-slice {
  height: 5px;
  background-color: var(--color-secondary-light);
  border-radius: 3px;
}